{% extends "layouts/base.html" %}

{% block stylesheets %}{% endblock stylesheets %}

{% block title %}新增派工單{% endblock title %}

{% block content %}
<main class="content">
  <br>
  <h3>新增派工單</h3>
  <div class="col-md-12">
    <div class="card border-light shadow-sm components-section">
      <div class="card-body">
        <form action="/schedule/{{ sn }}" method="post">
          {% csrf_token %}
          {{ form.as_p}}

          <!-- <label for="your_name">Your name: </label>
          <input id="your_name" type="text" name="your_name" value="{{ eqpt_ph.sn }}"> -->
          <input type="submit" class="btn btn-primary" value="提交">
      </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}