{% extends "layouts/base.html" %}

{% block stylesheets %}{% endblock stylesheets %}

{% block title %}Add New Employee Records{% endblock title %}

{% block content %}
<main class="content">
  <div class="col-md-12">


    <form method="POST" class="post-form" action="/addnew">
      {% csrf_token %}
      <div class="container">
        <br>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <h3>Enter Details</h3>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">DateTime:</label>
          <div class="col-sm-4">
            {{ form.c_datetime }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Rfid:</label>
          <div class="col-sm-4">
            {{ form.Rfid }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">SensorSN:</label>
          <div class="col-sm-4">
            {{ form.SensorSN }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Slope:</label>
          <div class="col-sm-4">
            {{ form.Slope }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Offset:</label>
          <div class="col-sm-4">
            {{ form.Offset }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Temperature:</label>
          <div class="col-sm-4">
            {{ form.Temperature }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Method:</label>
          <div class="col-sm-4">
            {{ form.Method }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Health:</label>
          <div class="col-sm-4">
            {{ form.Health }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">ResTime:</label>
          <div class="col-sm-4">
            {{ form.ResTime }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">ActZ:</label>
          <div class="col-sm-4">
            {{ form.ActZ }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}