{% extends "layouts/base.html" %}

{% block stylesheets %}{% endblock stylesheets %}

{% block title %}報告書填寫{% endblock title %}

{% block content %}
<main class="content">
  <div class="col-md-12">
      <div class="container">
        <br>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-6">
            <h3>請洽研發課 分機600</h3>
          </div>
        </div>
      </div>
  </div>
</main>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}