{% extends "layouts/base.html" %}

{% block title %}LINE CHART{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="content">
    {% include 'includes/navigation.html' %}
    <canvas id="line-chart" width="800" height="450"></canvas>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            // labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
            labels: {{ labels| safe}},
        datasets: [{
            // data: [86,114,106,106,107,111,133,221,783,2478],
            data: {{ offset| safe}},
        label: "Offset",
        borderColor: "#3e95cd",
        fill: false
      },
          { 
            data: {{ slope| safe}},
            label: "Slope",
            borderColor: "#8e5ea2",
            fill: false
          }, 
        //   { 
        //     data: [168,170,178,190,203,276,408,547,675,734],
        //     label: "Europe",
        //     borderColor: "#3cba9f",
        //     fill: false
        //   }, { 
        //     data: [40,20,10,16,24,38,74,167,508,784],
        //     label: "Latin America",
        //     borderColor: "#e8c3b9",
        //     fill: false
        //   }, { 
        //     data: [6,3,2,2,7,26,82,172,312,433],
        //     label: "North America",
        //     borderColor: "#c45850",
        //     fill: false
        //   }
    ]
  },
        options: {
        title: {
            display: true,
            text: 'Chart.js'
        }
    }
});

</script>
{% endblock javascripts %}