{% extends "layouts/base.html" %}

{% block title %}Add New Employee Records{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="content">
   <div class="col-md-12">
      <form method="POST" class="post-form" action="/update/{{calibration.id}}">
         {% csrf_token %}
         <div class="container">
            <br>
            <div class="form-group row">
               <label class="col-sm-1 col-form-label"></label>
               <div class="col-sm-4">
                  <h3>Update Details</h3>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">DateTime:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="c_datetime" id="id_c_datetime" required maxlength="100"
                     value="{{ calibration.c_datetime }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">Rfid:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="Rfid" id="id_Rfid" required maxlength="254"
                     value="{{ calibration.Rfid }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">SensorSN:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="SensorSN" id="id_SensorSN" required maxlength="15"
                     value="{{ calibration.SensorSN }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">Slope:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="Slope" id="id_Slope" required maxlength="15"
                     value="{{ calibration.Slope }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">Offset:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="Offset" id="id_Offset" required maxlength="15"
                     value="{{ calibration.Offset }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">Temperature:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="Temperature" id="id_Temperature" required maxlength="15"
                     value="{{ calibration.Temperature }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">Method:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="Method" id="id_Method" required maxlength="15"
                     value="{{ calibration.Method }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">Health:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="Health" id="id_Health" required maxlength="15"
                     value="{{ calibration.Health }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">ResTime:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="ResTime" id="id_ResTime" required maxlength="15"
                     value="{{ calibration.ResTime }}" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 col-form-label">ActZ:</label>
               <div class="col-sm-4">
                  <input type="text" class="form-control" name="ActZ" id="id_ActZ" required maxlength="15"
                     value="{{ calibration.ActZ }}" />
               </div>
            </div>

            <div class="form-group row">
               <label class="col-sm-1 col-form-label"></label>
               <div class="col-sm-4">
                  <button type="submit" class="btn btn-success btn-lg">Update</button>
               </div>
            </div>
         </div>
      </form>
</main>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}