{% extends "layouts/base.html" %} 

{% block stylesheets %}{% endblock stylesheets %} 

{% block title %}業務排程{% endblock title %} 

{% block content %}
<main class="content">
    <br>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h3>業務排程</h3>
        </div>
        <div>
            <a href="business/new" class="btn btn-outline-gray"><i class="fas fa-plus mr-2 mr-1"></i>新增</a>
        </div>
    </div>
    <div class="table-settings mb-4">

    </div>
    <div class="col-md-12">
        <table id="example" class="table table-striped">
            <!--                  <table id="example" class="display" style="width:100%">-->
            <thead>
                <tr>
                    <th>表單編號</th>
                    <th>預計拜訪日</th>
                    <th>公司名稱</th>
                    <th>客戶名稱</th>
                    <th>拜訪者</th>
                    <th>拜訪目的</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
{% endblock content %} {% block javascripts %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var data = {{ business_schedule | safe }};

        var table = $('#example').DataTable({
            "scrollX": true,
            data: data,
            columns: [
                { data: 'id' },
                { data: 'visit_date' },
                { data: 'factory_id' },
                { data: 'customer_id' },
                { data: 'staff_name' },
                { data: 'purpose_of_visit' },
            ]
        });
    });
</script>{% endblock javascripts %}