{% extends "layouts/base.html" %}

{% block title %} 電極查詢 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Volt</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Transactions</li>
                        </ol>
                    </nav>
                    <h2 class="h4">所有紀錄</h2>
                    <p class="mb-0">Your web analytics dashboard template.</p>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
                    </div>
                </div>
            </div>
            <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                        <div class="btn-group">
                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-sm icon-gray">
                                    <span class="fas fa-cog"></span>
                                </span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                                <span class="dropdown-item font-weight-bold text-dark">Show</span>
                                <a class="dropdown-item d-flex font-weight-bold" href="#">10 <span class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
                                <a class="dropdown-item font-weight-bold" href="#">20</a>
                                <a class="dropdown-item font-weight-bold" href="#">30</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <span><a href="/addnew" class="btn btn-primary">Add New Record</a></span>  
                <div class="table-responsive">
                <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                    <thead>
                        <!-- <th><input type="checkbox" id="checkall" /></th> -->
                        <th>DateTime</th>
                        <th>Rfid</th>
                        <th>SensorSN</th>
                        <th>Slope</th>
                        <th>Offset</th>
                        <th>Temperature</th>
                        <th>Method</th>
                        <th>Health</th>
                        <th>ResTime</th>
                        <th>ActZ</th>
                        <th>Edit</th>
                        <th>Delete</th>
                     </thead>
                <tbody>
                {% for calibration in calibrations %}  
                <tr>  
                <!-- <td><input type="checkbox" class="checkthis" /></td> -->
                <td>{{calibration.c_datetime}}</td>
                <td>{{calibration.Rfid}}</td>
                <td>{{calibration.SensorSN}}</td>
                <td>{{calibration.Slope}}</td>
                <td>{{calibration.Offset}}</td>
                <td>{{calibration.Temperature}}</td>
                <td>{{calibration.Method}}</td>
                <td>{{calibration.Health}}</td>
                <td>{{calibration.ResTime}}</td>
                <td>{{calibration.ActZ}}</td>       
                <td><span><a href="/edit/{{ calibration.id }}" class="btn btn-primary">...</a></span></td>   
                <td><span><a href="/delete/{{ calibration.id }}" class="btn btn-primary">...</a></span></td>
                <!-- <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{ calibration.id }}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></a></p></td> -->
                <!-- <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/delete/{{ calibration.id }}" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></a></p></td>   -->
                </tr>  
                {% endfor %} 
                </tbody>
                 
                </table>
                </div>
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
